@import url("../../index.css");

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background-color: rgb(24, 24, 27);
  position: relative;
}

*::-webkit-scrollbar {
  width: 100%;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #18181b;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #414146;
  border-radius: 10px;
  border: 1px solid #2a2a2d;
}

.headerSection {
  height: 10%;
  max-height: 65px;
  width: calc(100% - 480px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 0px 240px;
}

.moreOptionMenuContainer {
  height: calc(100% - 24px);
  min-height: 0px;
  width: 100%;
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  position: sticky;
  transition: min-height 0.3s ease-in-out;
  user-select: none;
}

.moreOptionsMenu {
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  border-right: 1px solid rgba(255, 255, 255, 0.16);
  border-left: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.workspaceText {
  height: 100%;
  width: 100%;
  max-width: 225px;
  font-family: var(--open-sans-font);
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.92);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px;
  margin-left: 8px;
}

.moreOptionIcon {
  height: 100%;
  padding: 0px 8px;
  max-height: 16px;
  width: 100%;
  max-width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: transform 0.3s ease-in-out;
}

.workspaceAndIcon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.otherMenuOptions {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  display: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.showOtherMenuOptions {
  display: flex;
}

.menuMinHeight {
  min-height: 160px;
  animation: fadeIn 0.3s ease-in-out;
}

.collapseMenuIcon {
  transform: rotate(180deg);
}

.backgroundColor {
  background-color: #1d1d1d;
}

@keyframes fadeIn {
  0% {
    min-height: 0px;
    opacity: 0;
  }
  100% {
    min-height: 165px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    min-height: 165px;
  }
  100% {
    min-height: 0px;
  }
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.dashboardSection {
  height: 100%;
  width: calc(100% - 440px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 220px;
}

.formBotContainer {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0px;
  gap: 30px;
}

.folderContainer {
  width: 100%;
  max-width: 100%;
  height: 20%;
  max-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}

.createFolderCard,
.FolderCard {
  height: calc(100% - 16px);
  max-height: calc(40px - 16px);
  width: auto;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  gap: 6px;
  transition: background-color 0.3s ease-in-out;
}

.FolderCard:hover,
.createFolderCard:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.selectedFolder {
  background-color: rgb(72, 72, 78);
  border: 2px solid #7ea6ff;
}

.createFolderText {
  height: 100%;
  width: 100%;
  max-width: 170px;
  font-family: var(--open-sans-font);
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.formsContainer {
  height: 100%;
  max-height: 290px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  gap: 20px;
}

.formCard {
  height: calc(100% - 160px);
  max-height: calc(270px - 160px);
  width: calc(25% - 80px);
  max-width: calc(225px - 80px);
  min-width: calc(225px - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #8b8b8d;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.formCard:hover {
  cursor: pointer;
  background-color: #6e6e6e;
}

.createFormCard {
  background-color: #1b5fff;
  transition: background-color 0.3s ease-in-out;
}

.createFormCard:hover {
  background-color: #0a53fd;
}

.createFormCardTextAndIcon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.formCardTextAndIcon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formCardText {
  font-style: Open Sans;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--open-sans-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDeleteIcon {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
}

.existingFormCardText {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--open-sans-font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 270px;
  max-height: 270px;
  min-width: 225px;
  cursor: pointer;
}
